<div style="width: 150px; margin-bottom: 20px">
	<ss-lib-button
		[type]="ButtonType.Secondary"
		[iconPosition]="IconPosition.Start"
		[icon]="IconType.FilterLines"
		[text]="'Отображение'"
		[popoverTriggerFor]="dropdownColumn"
		[size]="ExtraSize.md"
	></ss-lib-button>
</div>

<ss-lib-dropdown-list #dropdownColumn>
	@if (dropdownColumnsVisible().length > 0) {
		<ss-lib-dropdown-group [label]="'Отображаемые'">
			<div
				id="visibleList"
				class="draggable-list"
				cdkDropList
				[cdkDropListData]="dropdownColumnsVisible()"
				[cdkDropListConnectedTo]="['hiddenList']"
				(cdkDropListDropped)="onDropdownItemDrop($event)"
			>
				@for (column of dropdownColumnsVisible(); track column) {
					<ss-lib-dropdown-item
						cdkDrag
						class="draggable-item"
					>
						<div class="column-item__content">
							<div class="column-item__content_label">
								@let ctrl = getControlForColumn(column);

								<ss-lib-checkbox
									[formControl]="ctrl"
									(click)="updateColumnVisibility(column)"
								></ss-lib-checkbox>

								<ss-lib-text
									[type]="TextType.BodySm"
									[weight]="TextWeight.Regular"
									[color]="Colors.TextBody3"
								>
									{{ column.name }}
								</ss-lib-text>
							</div>

							<ss-lib-icon
								[height]="'16'"
								[width]="'16'"
								[icon]="IconType.Drag"
							/>
						</div>
					</ss-lib-dropdown-item>
				}
			</div>
		</ss-lib-dropdown-group>
	}

	@if (dropdownColumnsUnVisible().length > 0) {
		<ss-lib-dropdown-group [label]="'Скрытые'">
			<div
				id="hiddenList"
				cdkDropList
				class="draggable-list"
				[cdkDropListData]="dropdownColumnsUnVisible()"
				[cdkDropListConnectedTo]="['visibleList']"
				(cdkDropListDropped)="onDropdownItemDrop($event)"
			>
				@for (column of dropdownColumnsUnVisible(); track column) {
					<ss-lib-dropdown-item
						cdkDrag
						class="draggable-item"
					>
						<div class="column-item__content">
							@let ctrl = getControlForColumn(column);

							<ss-lib-checkbox
								[formControl]="ctrl"
								(click)="updateColumnVisibility(column)"
							></ss-lib-checkbox>

							<ss-lib-text
								[type]="TextType.BodySm"
								[weight]="TextWeight.Regular"
								[color]="Colors.TextBody3"
							>
								{{ column.name }}
							</ss-lib-text>

							<ss-lib-icon
								[height]="'16'"
								[width]="'16'"
								[icon]="IconType.Drag"
							/>
						</div>
					</ss-lib-dropdown-item>
				}
			</div>
		</ss-lib-dropdown-group>
	}
</ss-lib-dropdown-list>

<div class="container">
	<table
		ssTable
		class="ss-table"
		[hasBorderRadius]="true"
		[showCellBorders]="true"
		[columns]="visibleColumnsIds()"
	>
		<thead>
			<tr ssThGroup>
				<th
					*ssHead="'dragAction'"
					ssTh
					rowspan="2"
					[resizable]="true"
				>
					<div class="item-align--center drag-action__content">
						<ss-lib-checkbox
							[formControl]="masterCheckboxCtrl"
							[indeterminate]="getMasterCheckboxIndeterminate()"
						/>

						<ss-lib-text
							[color]="Colors.TextBody2"
							[weight]="TextWeight.Semibold"
							[type]="TextType.BodyXs"
							[align]="Align.Center"
							[isEllipsis]="true"
						>
							dragAction1
						</ss-lib-text>
					</div>
				</th>

				<th
					*ssHead="'banner'"
					ssTh
					colspan="2"
					[resizable]="true"
				>
					<div class="item-align--center">
						<ss-lib-text
							[color]="Colors.TextBody2"
							[weight]="TextWeight.Semibold"
							[type]="TextType.BodyXs"
							[align]="Align.Center"
							[isEllipsis]="true"
						>
							banner1
						</ss-lib-text>
					</div>
				</th>
				<ng-container *ssHead="'order'" />
				<ng-container *ssHead="'image'" />
				<th
					*ssHead="'status'"
					ssTh
					rowspan="2"
					[resizable]="true"
				>
					<div class="item-align--center">
						<ss-lib-text
							[color]="Colors.TextBody2"
							[weight]="TextWeight.Semibold"
							[type]="TextType.BodyXs"
							[align]="Align.Center"
							[isEllipsis]="true"
						>
							status1
						</ss-lib-text>
					</div>
				</th>

				<th
					*ssHead="'action'"
					ssTh
					rowspan="2"
					[resizable]="true"
				>
					<div class="item-align--center">
						<ss-lib-text
							[color]="Colors.TextBody2"
							[weight]="TextWeight.Semibold"
							[type]="TextType.BodyXs"
							[align]="Align.Center"
							[isEllipsis]="true"
						>
							action1
						</ss-lib-text>
					</div>
				</th>
				<th
					*ssHead="'actionToggle'"
					ssTh
					colspan="2"
					[resizable]="true"
				>
					<div class="item-align--center">
						<ss-lib-text
							[color]="Colors.TextBody2"
							[weight]="TextWeight.Semibold"
							[type]="TextType.BodyXs"
							[align]="Align.Center"
							[isEllipsis]="true"
						>
							actionToggle1
						</ss-lib-text>
					</div>
				</th>
				<ng-container *ssHead="'user'" />
				<ng-container *ssHead="'period'" />
			</tr>
			<tr ssThGroup>
				<th
					*ssHead="'order'"
					ssTh
				>
					<ss-lib-text
						[color]="Colors.TextBody2"
						[weight]="TextWeight.Semibold"
						[type]="TextType.BodyXs"
						[align]="Align.Center"
						[isEllipsis]="true"
					>
						order1
					</ss-lib-text>
				</th>
				<th
					*ssHead="'image'"
					ssTh
				>
					<ss-lib-text
						[color]="Colors.TextBody2"
						[weight]="TextWeight.Semibold"
						[type]="TextType.BodyXs"
						[align]="Align.Center"
						[isEllipsis]="true"
					>
						image1
					</ss-lib-text>
				</th>
				<th
					*ssHead="'user'"
					ssTh
				>
					<ss-lib-text
						[color]="Colors.TextBody2"
						[weight]="TextWeight.Semibold"
						[type]="TextType.BodyXs"
						[align]="Align.Center"
						[isEllipsis]="true"
					>
						user1
					</ss-lib-text>
				</th>

				<th
					*ssHead="'period'"
					ssTh
				>
					<ss-lib-text
						[color]="Colors.TextBody2"
						[weight]="TextWeight.Semibold"
						[type]="TextType.BodyXs"
						[align]="Align.Center"
						[isEllipsis]="true"
					>
						period1
					</ss-lib-text>
				</th>
			</tr>
		</thead>
		<tbody>
			@for (row of data(); track row.id) {
				<tr
					ssTr
					draggable="true"
					ssDraggableItem
					[item]="row"
					[dragGhostHandle]="createDragGhostExample"
				>
					<td
						*ssCell="'dragAction'"
						ssTd
					>
						<div class="item-align--center drag-action__content">
							<ss-lib-checkbox
								[formControl]="getRowCheckboxControl($index)"
							>
							</ss-lib-checkbox>

							<ss-lib-text
								[type]="TextType.BodySm"
								[weight]="TextWeight.Regular"
								[align]="Align.Center"
							>
								{{ row.dragAction }}
							</ss-lib-text>
						</div>
					</td>
					<td
						*ssCell="'order'"
						ssTd
					>
						<div class="item-align--center drag-action__content">
							<ss-lib-text
								[type]="TextType.BodySm"
								[weight]="TextWeight.Regular"
								[align]="Align.Center"
							>
								{{ row.order }}
							</ss-lib-text>
						</div>
					</td>
					<td
						*ssCell="'image'"
						ssTd
					>
						<div class="item-align--center drag-action__content">
							<ss-lib-text
								[type]="TextType.BodySm"
								[weight]="TextWeight.Regular"
								[align]="Align.Center"
							>
								{{ row.image }}
							</ss-lib-text>
						</div>
					</td>
					<td
						*ssCell="'status'"
						ssTd
					>
						<div class="item-align--center drag-action__content">
							<ss-lib-text
								[type]="TextType.BodySm"
								[weight]="TextWeight.Regular"
								[align]="Align.Center"
							>
								{{ row.status }}
							</ss-lib-text>
						</div>
					</td>
					<td
						*ssCell="'action'"
						ssTd
					>
						<div class="item-align--center drag-action__content">
							<ss-lib-text
								[type]="TextType.BodySm"
								[weight]="TextWeight.Regular"
								[align]="Align.Center"
							>
								{{ row.action }}
							</ss-lib-text>
						</div>
					</td>
					<ng-container *ssCell="'actionToggle'"></ng-container>
					<td
						*ssCell="'user'"
						ssTd
					>
						<div class="item-align--center drag-action__content">
							<ss-lib-text
								[type]="TextType.BodySm"
								[weight]="TextWeight.Regular"
								[align]="Align.Center"
							>
								{{ row.user }}
							</ss-lib-text>
						</div>
					</td>
					<td
						*ssCell="'period'"
						ssTd
					>
						<div class="item-align--center drag-action__content">
							<ss-lib-text
								[type]="TextType.BodySm"
								[weight]="TextWeight.Regular"
								[align]="Align.Center"
							>
								{{ row.period }}
							</ss-lib-text>
						</div>
					</td>
				</tr>
			}
		</tbody>
	</table>
</div>
