<div style="width: 150px; margin-bottom: 20px">
	<ss-lib-button
		[type]="ButtonType.Secondary"
		[iconPosition]="IconPosition.Start"
		[icon]="IconType.FilterLines"
		[text]="'Отображение'"
		[popoverTriggerFor]="dropdownColumn"
		[size]="ExtraSize.md"
	></ss-lib-button>
</div>

<ss-lib-dropdown-list
	#dropdownColumn
	[width]="'282px'"
>
	@if (dropdownColumnsVisible().length > 0) {
		<ss-lib-dropdown-group [label]="'Отображаемые'">
			<div
				id="visibleListOperPlan"
				class="draggable-list"
				cdkDropList
				[cdkDropListData]="dropdownColumnsVisible()"
				[cdkDropListConnectedTo]="['hiddenListOperPlan']"
				(cdkDropListDropped)="onDropdownItemDrop($event)"
			>
				@for (column of dropdownColumnsVisible(); track column) {
					@let isSticky = !!column?.stickyColumn;

					<ss-lib-dropdown-item
						cdkDrag
						class="draggable-item"
						[cdkDragDisabled]="isSticky"
						[isDisabled]="isSticky"
					>
						<div class="column-item__content">
							<div class="column-item__content_label">
								@let ctrl = getControlForColumn(column);

								@if (!isSticky) {
									<ss-lib-checkbox
										[formControl]="ctrl"
										(click)="updateColumnVisibility(column)"
									></ss-lib-checkbox>
								}

								<ss-lib-text
									[type]="TextType.BodySm"
									[weight]="TextWeight.Regular"
								>
									{{ column.name }}
								</ss-lib-text>
							</div>

							<ss-lib-icon
								[height]="'16'"
								[width]="'16'"
								[icon]="IconType.Drag"
							/>
						</div>
					</ss-lib-dropdown-item>
				}
			</div>
		</ss-lib-dropdown-group>
	}

	@if (dropdownColumnsUnVisible().length > 0) {
		<ss-lib-dropdown-group [label]="'Скрытые'">
			<div
				id="hiddenListOperPlan"
				cdkDropList
				class="draggable-list"
				[cdkDropListData]="dropdownColumnsUnVisible()"
				[cdkDropListConnectedTo]="['visibleListOperPlan']"
				(cdkDropListDropped)="onDropdownItemDrop($event)"
			>
				@for (column of dropdownColumnsUnVisible(); track column) {
					<ss-lib-dropdown-item
						cdkDrag
						class="draggable-item"
					>
						<div class="column-item__content">
							<div class="column-item__content_label">
								@let ctrl = getControlForColumn(column);

								<ss-lib-checkbox
									[formControl]="ctrl"
									(click)="updateColumnVisibility(column)"
								></ss-lib-checkbox>

								<ss-lib-text
									[type]="TextType.BodySm"
									[weight]="TextWeight.Regular"
								>
									{{ column.name }}
								</ss-lib-text>
							</div>

							<ss-lib-icon
								[height]="'16'"
								[width]="'16'"
								[icon]="IconType.Drag"
							/>
						</div>
					</ss-lib-dropdown-item>
				}
			</div>
		</ss-lib-dropdown-group>
	}
</ss-lib-dropdown-list>

<div class="new-table">
	<table
		ssTable
		class="ss-table"
		[hasBorderRadius]="true"
		[showCellBorders]="true"
		[columns]="visibleColumnsIds()"
	>
		<thead>
			<tr ssThGroup>
				@for (column of visibleColumns(); track column) {
					@if (!isSubColumn(column.id)) {
						<th
							*ssHead="column.id"
							ssTh
							[style]="{ padding: '0 10px' }"
							[attr.rowspan]="
								!column.subColumns && !column.subGroups
									? 2
									: null
							"
							[attr.colspan]="
								column.subColumns
									? column.subColumns.length
									: null
							"
							[resizable]="true"
							(mouseenter)="setHoveredColumn(column.id)"
							(mouseleave)="setHoveredColumn(null)"
						>
							<div
								class="item-align--center"
								[ngClass]="{
									'drag-action__content': column.id === 'tov',
								}"
							>
								<!-- Чекбокс только для колонки 'tov' -->
								@if (column.id === 'tov') {
									<ss-lib-checkbox
										[formControl]="masterCheckboxCtrl"
										[indeterminate]="
											getMasterCheckboxIndeterminate()
										"
									/>
								}
								<ss-lib-text
									[color]="Colors.TextBody2"
									[weight]="TextWeight.Semibold"
									[type]="TextType.BodyXs"
									[align]="Align.Center"
									[isEllipsis]="true"
								>
									{{ formatColumnName(column.name) }}
								</ss-lib-text>
							</div>
						</th>
					}
				}
			</tr>
			<tr ssThGroup>
				@for (column of visibleColumns(); track column) {
					@if (column.subColumns) {
						@for (
							subColumnId of column.subColumns;
							track subColumnId
						) {
							<th
								*ssHead="subColumnId"
								ssTh
								[style]="{ padding: '0 10px' }"
								(mouseenter)="setHoveredColumn(column.id)"
								(mouseleave)="setHoveredColumn(null)"
							>
								<ss-lib-text
									[color]="Colors.TextBody2"
									[weight]="TextWeight.Semibold"
									[type]="TextType.BodyXs"
									[align]="Align.Center"
									[isEllipsis]="true"
								>
									{{ getSubColumnName(subColumnId) }}
								</ss-lib-text>
							</th>
						}
					}
				}
			</tr>
		</thead>
		<tbody>
			@for (row of data(); track row.id; let idxRow = $index) {
				<tr
					ssTr
					draggable="true"
					ssDraggableItem
					[item]="row"
					[dragGhostHandle]="createDragGhostExample"
				>
					@for (column of visibleColumns(); track column.id) {
						@if (
							!column.subColumns?.length &&
							!column.subGroups?.length
						) {
							<td
								*ssCell="column.id"
								ssTd
								[style]="{ padding: '0 10px' }"
								[class.hover]="isHoveredColumn(column.id)"
							>
								<div
									class="item-align--center"
									[ngClass]="{
										'drag-action__content':
											column.id === 'tov',
									}"
								>
									<!-- Чекбокс только для колонки 'tov' -->
									@if (column.id === 'tov') {
										<ss-lib-checkbox
											[formControl]="
												getRowCheckboxControl(idxRow)
											"
										></ss-lib-checkbox>
									}
									<ss-lib-text
										[type]="TextType.BodySm"
										[weight]="TextWeight.Regular"
										[align]="Align.Center"
									>
										{{ getCellValue(row, column.id) }}
									</ss-lib-text>
								</div>
							</td>
						}
					}
				</tr>
			}
		</tbody>
	</table>
</div>
