.container {
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 20px 20px;
	font-family: var(--type-font-family-body), serif;
}

.section {
	background-color: var(--surface-page);
	border-radius: 8px;
	box-shadow: var(--shadow-xl);
	padding: 24px;
	margin-bottom: 24px;
}

.section-title {
	font-size: 24px;
	font-weight: 600;
	color: var(--text-body);
	margin-bottom: 16px;
}

.section-description {
	font-size: 16px;
	color: var(--text-body-3);
	margin-bottom: 16px;
}

.flex-container {
	display: flex;
	flex-wrap: wrap;
	gap: 12px;
	align-items: center;
}

.sub-section {
	margin-bottom: 20px;
}

.sub-section-title {
	font-size: 18px;
	font-weight: 500;
	color: #333;
	margin-bottom: 12px;
}

.sub-section-subtitle {
	font-size: 16px;
	font-weight: 400;
	color: #333;
	margin-bottom: 12px;
	margin-left: 10px;
}

.component-row {
	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;
	gap: 12px;
	margin-bottom: 16px;
}

.component-row > * {
	flex: 0 0 auto;
}

.two-columns {
	display: flex;
	flex-wrap: wrap;
	gap: 24px;
}

.component-column {
	display: flex;
	flex-direction: column;
	flex: 1 1 300px;
	gap: 12px;
}

.icon-wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	min-width: 100px;
	text-align: center;
}

.icon-wrapper > * {
	margin-bottom: 8px;
}

.disabled-demo {
	opacity: 0.5;
	pointer-events: none;
}

.spaced {
	margin-bottom: 12px;
}

.full-width {
	width: 100%;
}

.hide {
	display: none;
}

.dark-background {
	padding: 10px;
	background: #212121;
}

@media (max-width: 768px) {
	.container {
		padding: 16px;
	}

	.section {
		padding: 16px;
	}

	.section-title {
		font-size: 20px;
	}

	.sub-section-title {
		font-size: 16px;
	}

	.two-columns {
		flex-direction: column;
	}
}

.avatar-test {
	display: flex;
	justify-content: space-between;
	gap: 12px;
	padding: 12px 16px;

	&__label {
		display: flex;
		flex-direction: column;
	}
}

.scrollbar-test {
	height: 250px;
	width: 250px;
	display: flex;
	flex-wrap: nowrap;

	&__item {
		white-space: nowrap;
	}
}

.empty-state__test {
	width: 354px;
}
